@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    color: #3A3A3A;
}

/* navar start */
#navarSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

}
#navarLogo>h1{
   font-size: 33px;
}

    
#navarMenuDiv{
    display: flex;
     align-items: center;
    gap: 50px;

   
}
#navarMenuDiv>button{
display: flex;

align-items: center;
font-size:20px ;
background-color: #D00;
color: white;
border: none;
border-radius: 5px;
padding: 10px 15px;
gap: 10px;

}
    
#navarMenuDiv>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
    
}

li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

/* navar end */
/* bannar start */
#bannarSection{
   margin: 20px 50px;
   padding: 50px 50px 10px 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    grid-gap: 100px;
  
    background-color: #161616;
    color: #fff;
    border-radius: 10px;


}
#bannarImgDiv{
    margin: auto;
    
}
#bannarImgDiv>img{
   height: 500px;
   

}
#bannarTextDiv{
    padding-top: 45px;
}
#bannarTextDiv>h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
   
}
#bannarTextDiv>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
   
}

#bannarTextDiv>button{
display: flex;
justify-content: space-around;
align-items: center;
font-size:20px ;
background-color: #D00;
color: white;
border: none;
border-radius: 5px;
padding: 10px 15px;
}
/* bannar end */

 /* football Channel start */
#ChannelDiv{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
    align-items: start;
    padding: 15px 30px;
    grid-gap: 20px;
}
#ChannelMenu{
    display: grid;
    grid-template-columns: 1,1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color:#fff;
     border-radius: 10px;
}
#ChannelMenu>button{
    text-align: center;
    border-radius: 10px;
    padding: 15px 30px;
}
#But{
 border: none;
background-color: #D00;
color: white;

}
.ChannelCardDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    justify-content: space-between;
    align-items: center;
}
.cardDiv{
    width: 300px;
    background-color: #fff;
    border: 1px solid gray;
    box-shadow: 0 0 4px 0 gray;
    border-radius: 10px;
}


.iconDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cardDesDiv{
    padding: 10px 20px;
}
.cardImgDiv>img{
    width: 300px;
}
.cardDesDiv>button{
    padding: 10px 20px;
    font-size: 18px;
    
    border-radius: 10px;
}



    /* football Channel end */






    .UpcomingMatch{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: darkgray;
       display: none;
    }
    
    .Match{
       display: grid;
       grid-template-columns:2,1fr;
       justify-content: space-between;
       align-items: center;
       display: none;
    }
    .frist{
        border: 2px solid gray;
    }
    
    
    

    /* footer start */
#ContactDiv{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 30px 50px;
    line-height: 40px;
   
  
   
}
    
#ContactDiv>ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-size: 16px;
    font-weight: 400;
  
}

    /* footer end */









/* mobile responsive */


     @media screen and (max-width:576px){

        /* navar start */
#navarSection{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 10px 5px;
}

#navarMenuDiv{
   
    flex-direction: column; 
    align-items: center;
    gap: 5px;
}
#navarMenuDiv>button{

padding: 10px 5px; 


}
    
#navarMenuDiv>ul{
   
    gap: 15px;
    
}

/* navar end */


/* bannar start */
#bannarSection{
    margin: 20px 50px;
    padding: 30px 30px 5px 30px;
     display: grid;
     grid-template-columns: repeat(1,1fr);
     justify-content: space-between;
     align-items: center;
     grid-gap: 45px;
 }
 #bannarImgDiv{
     margin: auto;
 }
 #bannarImgDiv>img{
    height: 300px;
 }
 #bannarTextDiv{
     padding-top: 45px;
 }
 #bannarTextDiv>h1{
     font-weight: 700;
     font-size: 50px;
     line-height: 70px;
    
 }
 #bannarTextDiv>p{
     font-weight: 400;
     font-size: 16px;
     line-height: 25px;
    
 }
 
 #bannarTextDiv>button{
 display: flex;
 justify-content: space-around;
 align-items: center;

 border-radius: 5px;
 padding: 5px 10px;
 
 
 }
 /* bannar end */


 /* football Channel start */
#ChannelDiv{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: start;
    padding: 12px 30px;
    grid-gap: 20px;
   
   
   
}
#ChannelMenu{
    display: grid;
    grid-template-columns: 1,1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    background-color: #fff;
     border-radius: 10px;
    
    
}
#ChannelMenu>button{
    text-align: center;
    border-radius: 10px;
    padding: 15px 30px;
}
#But{
 border: none;
background-color: #D00;
color: white;

}
.ChannelCardDiv{
  
    grid-template-columns: repeat(1,1fr);
    grid-gap:20px;
 
    align-items: center;
    width: 350px;
  
}
.iconDiv{
    display: flex;
    align-items: center;
    gap: 8px;
}
.cardDesDiv{
    padding: 10px 20px;
}
.cardImgDiv>img{
    width: 300px;
}
.cardDesDiv>button{
    padding: 5px 15px;
    font-size: 18px;
    
    border-radius: 10px;
}



    /* football Channel end */


    /* footer start */
    #ContactDiv{
        text-align: center;
        background: #000;
        color: #fff;
        padding: 10px 15px;
        line-height: 40px;
       
      
    }
      
    #ContactDiv>ul{
        display: grid;
        text-align: center;
        grid-template-columns: 100%;
        font-size: 16px;
        font-weight: 300;
        grid-gap: 5px;
      
    }
    
        /* footer end */

        





     }


